.section {
  background: linear-gradient(135deg, rgba(255, 216, 22, 0.80) 20%, 45%, rgba(94, 13, 255, 0.8) 75%),
    url("../images/noise.svg");
}

.triangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.w-60 {
  width: 60% !important;
}

.header-card {
  background: linear-gradient(45deg, rgba(137, 0, 155, 0.6) 20%, 55%, rgba(255, 219, 0, 0.6) 95%),
    url("../images/noise.svg");
  border: none;
  border-radius: 10px;
  transform: translate(0%, -20%);
}

.studenthack-title {
  background-color: white;
  border-radius: 5px;
  color: black;

  font-family: 'PT Sans', sans-serif;
  font-size: 4.5vw;
  font-weight: 900;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;

  margin: 0 auto;
  position: absolute;

  width: 85%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

.studenthack-title-body {
  font-size: 4vw;
  font-weight: 900;
  font-family: 'PT Sans',
    sans-serif;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0;
}

.timer {
  margin-top: 8%;
  margin-bottom: -4vh;
  color: transparent;
  font-size: 7vw;
  text-shadow: 0px 0px 0px white,
    0px 0px 10px rgb(102, 255, 255),
    3px -1px 0 black;
  ;
}

#timer-progressbar {
  background-color: transparent;
  margin-left: 5px;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: rgb(151, 226, 144);
  width: 100%;
}

.location-text {
  color: white;
  font-size: 5vw;
  text-shadow: 2px -2px 0 rgb(102, 255, 255),
    4px -4px 0 rgb(255, 0, 204),
    6px -6px 0 black;
  border: none;
}

.press-start-btn {
  background-color: white;
  border-radius: 5px;
  color: black;

  border: 1px solid white;

  font-family: 'PT Sans',
    sans-serif;
  font-size: 4.5vw;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;

  position: absolute;

  width: 35%;
  height: 12%;
  top: 0;
  left: 0;
  transform: translate(33vw, 69.5vh);
  mix-blend-mode: screen;
}

.press-start-btn:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 3px solid black;
}

div.press-start-link>a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
}

div.press-start-link>a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
}

#fp-nav ul {
  background: linear-gradient(180deg, rgb(167, 86, 164), rgb(66, 64, 219));
  border-radius: 5px;
  padding: 4px 0 4px 0;
  border: 3px;
  border-style: solid;
  border-color: white;
}

#fp-nav ul li {
  padding-bottom: 20px;
  padding-top: 20px;
}

#fp-nav ul li a span {
  background: white;
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
}

#fp-nav ul li a.active span {
  background: yellow;
}


body {
  font-family: arial, helvetica;
  color: #333;
  color: rgba(0, 0, 0, 0.5);
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

h1 {
  font-size: 6em;
}

p {
  font-size: 2em;
}

.intro {
  transform: translate(0);
}

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

.section {
  text-align: center;
}

.verticalText {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
  font-family: arial, helvetica;
  font-weight: 550;
  letter-spacing: 2px;
}

.FAQ {
  position: absolute;
}

.FAQ-card-deck {
  padding-left: 120px;
  padding-right: 100px;
}

.FAQ-text {
  font-size: small;
  color: white;
}

.card-deck {
  margin-bottom: 40px;
  text-align: left;
}

.FAQ-card {
  background: linear-gradient(50deg, rgba(199, 100, 206, 1) 35%, 60%, rgb(125, 141, 216, 1) 80%);
  border-style: none;
  border-radius: 5px !important;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.FAQ-card:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgb(132, 13, 140),
    0 6px 20px 0 rgba(0, 0, 0, 0);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.FAQ-card:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.FAQ-card:hover::after {
  opacity: 1;
}


.FAQ-card-title {
  color: white;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .timer {
    margin-top: 5%;
  }

  .location-text {
    margin-top: 4%;
  }

  .section-triangle {
    width: 50%;
    height: 38%;
    transform: translate(0px, 80%);
  }

  .press-start-btn {
    font-size: 4vw;
    height: 5%;
    transform: translate(33vw, 58.5vh);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .section-triangle {
    width: 55%;
    height: 55%;
    transform: translate(0px, 40%);
  }

  .press-start-btn {
    height: 7%;
    transform: translate(33vw, 63vh);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-triangle {
    width: 55%;
    height: 60%;
    transform: translate(0px, 35%);
  }

  .press-start-btn {
    height: 8%;
    transform: translate(33vw, 65vh);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .section-triangle {
    width: 60%;
    height: 70%;
    transform: translate(0px, 20%);
  }

  .press-start-btn {
    height: 10%;
    transform: translate(33vw, 65.3vh);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section-triangle {
    width: 50%;
    height: 90%;
    transform: translate(0px, 3.5%);
  }

  .press-start-btn {
    height: 12%;
    transform: translate(33vw, 69.5vh);
  }
}