:root {
  --loc-text-shadow: 2px -2px 0 rgb(102, 255, 255),
    4px -4px 0 rgb(255, 0, 204),
    6px -6px 0 black;

  --sec-bg: linear-gradient(135deg, rgba(255, 216, 22, 0.8) 20%, 45%, rgba(63, 0, 188, 0.8) 80%),
    url("../images/noise.svg");

  --header-bg: linear-gradient(45deg, rgba(175, 0, 198, 0.75) 20%, 55%, rgba(255, 219, 0, 0.6) 95%),
    url("../images/noise.svg");
}

.section {
  background: var(--sec-bg);
}

.section-triangle {
  width: 40em;
  height: 40em;
  transform: translate(0px, 2em);
}

.triangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.w-60 {
  width: 60% !important;
}

.header-card {
  background: var(--header-bg);
  border: none;
  border-radius: 10px;
  margin-bottom: 3em;
}

.studenthack-title {
  background-color: white;
  border-radius: 5px;
  color: black;

  font-family: 'PT Sans', sans-serif;
  font-size: 4.5vw;
  font-weight: 900;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;

  margin: 0 auto;
  position: absolute;

  width: 85%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

.studenthack-title-body {
  font-size: 4vw;
  font-weight: 900;
  font-family: 'PT Sans',
    sans-serif;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0;
}

.timer {
  margin-top: 0.7em;
  color: transparent;
  font-size: 7vw;
  text-shadow: 0px 0px 0px white,
    0px 0px 10px rgb(102, 255, 255),
    3px -1px 0 black;
  ;
}

#timer-progressbar {
  background-color: transparent;
  margin-left: 5px;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: rgb(151, 226, 144);
  width: 100%;
}

.location-text {
  color: white;
  font-size: 5vw;
  text-shadow: var(--loc-text-shadow);
  border: none;
  margin-top: -0.5em;
}

.press-start-btn {
  background-color: white;
  border-radius: 5px;
  color: black;

  border: 1px solid white;

  font-family: 'PT Sans',
    sans-serif;
  font-size: 4.5vw;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;

  padding-bottom: 1.3em;
  width: 35%;
  height: 1em;
  top: 0;
  left: 0;
  transform: translate(32vw, -0.3em);
  mix-blend-mode: screen;
}

.press-start-btn:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 3px solid black;
}

div.press-start-link>a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
}

#fp-nav ul {
  background: linear-gradient(180deg, rgb(167, 86, 164), rgb(0, 102, 204));
  border-radius: 5px;
  padding: 4px 0 4px 0;
  border: 3px;
  border-style: solid;
  border-color: white;
}

#fp-nav ul li {
  padding-bottom: 20px;
  padding-top: 20px;
}

#fp-nav ul li a span {
  background: white;
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
}

#fp-nav ul li a.active span {
  background: yellow;
}


body {
  font-family: arial, helvetica;
  color: #333;
  color: rgba(0, 0, 0, 0.5);
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

h1 {
  font-size: 6em;
}

p {
  font-size: 2em;
}

.intro {
  transform: translate(0);
}

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

.section {
  text-align: center;
}

.verticalText {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
  font-family: arial, helvetica;
  font-weight: 550;
  letter-spacing: 2px;
  font-size: 5vh;

  position: absolute;
  top: 0;
  left: 0;

  padding-bottom: 5vh
}

.FAQ {
  padding-top: 5vh;
}

.FAQ-card-deck {
  padding-left: 120px;
  padding-right: 100px;
}

.FAQ-text {
  font-size: small;
  color: white;
}

.card-deck {
  margin-bottom: 40px;
  text-align: left;
}

.FAQ-card {
  background: var(--header-bg);
  border-style: none;
  border-radius: 5px !important;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.FAQ-card:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgb(132, 13, 140),
    0 6px 20px 0 rgba(0, 0, 0, 0);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.FAQ-card:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.FAQ-card:hover::after {
  opacity: 1;
}


.FAQ-card-title {
  color: white;
}

/* ============================================================= */


.linebar {
  height: 10px;
  background-color: white;
  border-radius: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.linebarT {
  height: 10px;
  background-color: white;
  border-radius: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.sponsor-card-deck {
  padding-left: 10vw;
  padding-right: 10vw;
}

.card-Sponsor {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 100px;
  text-align: left;
  width: 40%;
}

.sponsor-card {
  background: white;
  border-style: none;
  border-radius: 10px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;
  

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sponsor-card:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.sponsor-card-plat {
  background: white;
  border-style: none;
  border-radius: 10px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;

  box-shadow: 0 5px 40px rgba(229, 228, 226, 1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sponsor-card-plat:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.sponsor-card-gold {
  background: white;
  border-style: none;
  border-radius: 10px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;

  box-shadow: 0 5px 40px rgba(255, 215, 0, 1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sponsor-card-gold:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.sponsor-card-silver {
  background: white;
  border-style: none;
  border-radius: 10px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;

  box-shadow: 0 10px 40px rgba(128, 128, 128, 1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sponsor-card-silver:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.sponsor-card-bronze {
  background: white;
  border-style: none;
  border-radius: 10px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;

  box-shadow: 0 5px 40px rgba(205, 127, 50, 1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sponsor-card-bronze:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}













/* ============================================================= */

/* Extra small devices (phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .section-triangle {
    width: 45vw;
    height: 45vh;
    transform: translate(0px, 28vh);
  }

  .press-start-btn {
    height: 2em;
    font-size: 4vw;
    transform: translate(32vw, 0);
    padding-bottom: 1.5em;
  }

  .location-text {
    text-shadow: var(--loc-text-shadow);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .section-triangle {
    width: 45vw;
    height: 60vh;
    transform: translate(0px, 20vw);
  }

  .press-start-btn {
    height: 1em;
    font-size: 4.5vw;
    transform: translate(32vw, 0);
    padding-bottom: 1.3em;
  }

  .location-text {
    text-shadow: var(--loc-text-shadow);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-triangle {
    width: 25em;
    height: 70vh;
    transform: translate(0px, 11vw);
  }

  .press-start-btn {
    height: 1em;
    font-size: 4.5vw;
    transform: translate(32vw, 0);
    padding-bottom: 1.3em;
  }

  .location-text {
    text-shadow: var(--loc-text-shadow);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .section-triangle {
    width: 40em;
    height: 90vh;
    transform: translate(0px, 3vw);
  }

  .press-start-btn {
    height: 1em;
    font-size: 4.5vw;
    transform: translate(32vw, 0);
    padding-bottom: 1.3em;
  }

  .location-text {
    text-shadow: var(--loc-text-shadow);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section-triangle {
    width: 40em;
    height: 90vh;
    transform: translate(0px, 3vw);
  }

  .press-start-btn {
    height: 1em;
    font-size: 4.5vw;
    transform: translate(32vw, 0);
    padding-bottom: 1.3em;
  }

  .location-text {
    text-shadow: var(--loc-text-shadow);
  }
}

@media only screen and (min-width: 1400px) {
  .section-triangle {
    width: 40em;
    height: 90vh;
    transform: translate(0px, 3vw);
  }

  .press-start-btn {
    height: 1em;
    font-size: 4.5vw;
    transform: translate(32vw, 0);
    padding-bottom: 1.3em;
  }

  .location-text {
    text-shadow: var(--loc-text-shadow);
  }
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 450px) {
  .section-triangle {
    display: none;
  }

  .press-start-btn {
    height: 2em;
    font-size: 4vw;
    transform: translate(32vw, 0);
    padding-bottom: 1.5em;
  }

  .location-text {
    text-shadow: 1px -1px 0 rgb(102, 255, 255),
      2px -2px 0 rgb(255, 0, 204),
      3px -3px 0 black;
  }
}