@font-face {
  font-family: softMarshmallow;
  src: url("fonts/softMarshmallow.otf");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "softMarshmallow";
}

html {}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #FFF;
  position: fixed;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#preloader-image {
  position: absolute;
  top: 70%;
  left: 65%;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.content {
  background-image: url("images/background.png");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -100px;
  min-height: 100%;
  width: 100%;
  padding: 0 0 100px 0;
}

body {
  text-align: center;
}

.apply-container {
  position: fixed;
  transform: translateX(-10%);
  z-index: 10000;
}

#apply-link {
  position: relative;
  color: black;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(150%);
  z-index: 10001;
  overflow-wrap: normal;
  max-width: 30%;
}

#apply-link-img {
  position: relative;
  z-index: 10000;
  width: 50%;
  height: auto;
}

.apply-container:hover>#apply-link-img {
  -webkit-filter: drop-shadow(-3px 5px rgb(0, 0, 0));
  -moz-filter: drop-shadow(-3px 5px rgb(0, 0, 0));
  -ms-filter: drop-shadow(-3px 5px rgb(0, 0, 0));
  -o-filter: drop-shadow(-3px 5px rgb(0, 0, 0));
  filter: drop-shadow(-3px 5px rgb(0, 0, 0));
}

#logo {
  position: relative;
  z-index: 1000;
  margin-top: -8%;
  margin-bottom: -15%;
  width: 6%;
}

#title-bubble {
  display: inline-block;
  background: url("images/titleBubble.png") no-repeat center;
  background-size: contain;
  position: relative;
  margin: 0 0 -10% -2%;
}

.smooth-transitions {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  z-index: -999;
}

#title-bubble-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  font-family: "softMarshmallow";
}

.title-container {
  width: 100%;
  height: 20%;
  font-size: 2.7vw;
  margin-bottom: 2%;
  font-weight: bold;
}

.title-subscript-container {
  width: 100%;
  height: 20%;
  font-size: 1.3vw;
  line-height: 1.1vw;
}

#timer {
  font-family: "softMarshmallow";
  font-size: 4vw;
  color: white;
  text-shadow: -4px 3px 0px rgba(0, 0, 0, 1);
  position: relative;
}

.timer-element {
  position: relative;
}

#faq-header {
  position: relative;
  margin: 10% 0 5% 0;
  z-index: 1000;
  max-width: 30%;
  max-height: 20%;
  width: auto;
  height: auto;
}

.faq-question {
  height: 40vh;
  margin-bottom: 5%;
}

.question-text {
  position: relative;
  font-size: 0.9vw;
}

.answer-text {
  position: relative;
  font-size: 0.7vw;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-70 {
  width: 70%;
}

.offset-x-4 {
  left: 4%;
}

.offset-x-m3 {
  left: -3%;
}

.offset-x-m4 {
  left: -4%;
}

.offset-x-m6 {
  left: -6%;
}

.offset-x-6 {
  left: 6%;
}

.offset-x-m7 {
  left: -7%;
}

.offset-x-7 {
  left: 7%;
}

.offset-x-8 {
  left: 8%;
}

.offset-y-3 {
  top: 3%;
}

.offset-y-m3 {
  top: -3%;
}

.offset-y-5 {
  top: 5%;
}

.offset-y-6 {
  top: 6%;
}

.offset-y-8 {
  top: 8%;
}

.offset-y-m10 {
  top: -10%;
}

.offset-y-m14 {
  top: -14%;
}

#sponsors-header {
  position: relative;
  margin: 10% 0 5% 0;
  z-index: 1000;
  max-width: 50%;
  max-height: 20%;
  width: auto;
  height: auto;
}

.sponsor-row {
  margin: 3em 0;
}

.logo {
  margin: 2em 0;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.question-img, .answer-img {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
}

#question-1 {
  background: url("images/faq/question1.png") no-repeat center;
  background-size: contain;
  height: 40%;
}

#answer-1 {
  background: url("images/faq/answer1.png") no-repeat center;
  background-size: contain;
  top: -10%;
  height: 80%;
}

#question-2 {
  background: url("images/faq/question2.png") no-repeat center;
  background-size: contain;
  height: 35%;
  width: 80%;
}

#answer-2 {
  background: url("images/faq/answer2.png") no-repeat center;
  background-size: contain;
  top: 5%;
  height: 60%;
}

#question-3 {
  background: url("images/faq/question3.png") no-repeat center;
  background-size: contain;
  height: 35%;
  width: 80%;
  left: 15%;
}

#answer-3 {
  background: url("images/faq/answer3.png") no-repeat center;
  background-size: contain;
  height: 80%;
}

#question-4 {
  background: url("images/faq/question4.png") no-repeat center;
  background-size: contain;
  height: 35%;
  width: 110%;
  top: -3%
}

#answer-4 {
  background: url("images/faq/answer4.png") no-repeat center;
  background-size: contain;
  top: -3%;
  height: 80%;
}

#question-5 {
  background: url("images/faq/question5.png") no-repeat center;
  background-size: contain;
  height: 35%;
  width: 80%;
  left: 15%;
}

#answer-5 {
  background: url("images/faq/answer5.png") no-repeat center;
  background-size: contain;
  height: 80%;
}

#question-6 {
  background: url("images/faq/question1.png") no-repeat center;
  background-size: contain;
  height: 40%;
  width: 100%;
}

#answer-6 {
  background: url("images/faq/answer2.png") no-repeat center;
  background-size: contain;
  top: -10%;
  height: 80%;
}

#question-7 {
  background: url("images/faq/question2.png") no-repeat center;
  background-size: contain;
  height: 35%;
  width: 100%;
}

#answer-7 {
  background: url("images/faq/answer1.png") no-repeat center;
  background-size: contain;
  height: 80%;
}

#question-8 {
  background: url("images/faq/question3.png") no-repeat center;
  background-size: contain;
  height: 35%;
  width: 100%;
}

#answer-8 {
  background: url("images/faq/answer2.png") no-repeat center;
  background-size: contain;
  height: 80%;
}

#question-9 {
  background: url("images/faq/question5.png") no-repeat center;
  background-size: contain;
  height: 35%;
  width: 80%;
  left: 15%;
  top: 4%;
}

#answer-9 {
  background: url("images/faq/answer3.png") no-repeat center;
  background-size: contain;
  height: 80%;
}

@media only screen and (max-width: 1200px) {
  .content {
    background-position: -30px -50px;
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    background-position: -40px -50px;
  }
  .question-text {
    font-size: 1vw;
  }
  .answer-text {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 992px) {
  #faq-header {
    max-width: 45%;
    max-height: 35%;
  }
  #sponsors-header {
    max-width: 70%;
    max-height: 40%;
  }
  .question-text {
    font-size: 1.2vw;
  }
  .answer-text {
    font-size: 1vw;
  }
  .offset-y-5-s {
    top: 5%;
  }
  .width-20-s {
    width: 20%;
  }
  .title-container {
    font-size: 4.7vw;
    margin-bottom: 2%;
  }
  .title-subscript-container {
    font-size: 2.3vw;
    line-height: 2.1vw;
  }
  #timer {
    font-size: 7vw;
    text-shadow: -4px 3px 0px rgba(0, 0, 0, 1);
  }
  #title-bubble {
    margin: -13% -6%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    background-position: 0 -150px;
  }
  #faq-header {
    max-width: 70%;
    max-height: 60%;
  }
  #sponsors-header {
    max-width: 90%;
    max-height: 40%;
  }
  .question-text {
    font-size: 2vw;
  }
  .answer-text {
    font-size: 1.5vw;
  }
  .title-container {
    font-size: 5.7vw;
    margin-bottom: 2%;
  }
  .title-subscript-container {
    font-size: 3.5vw;
    line-height: 3.2vw;
  }
  #timer {
    font-size: 10vw;
    text-shadow: -4px 3px 0px rgba(0, 0, 0, 1);
  }
  #logo {
    margin-top: 10%;
    width: 18%;
  }
  #title-bubble {
    margin: -30% -10%;
  }
  .apply-container {
    width: 40%;
  }
  #apply-link-img {
    width: 40%;
  }
  #apply-link {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 450px) {
  .content {
    background-position: -200px 0;
  }
  .question-text {
    font-size: 3vw;
  }
  .answer-text {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 375px) {
  .question-text {
    font-size: 4vw;
  }
  .answer-text {
    font-size: 3vw;
  }
  .offset-y-0-xs {
    top: 0%;
  }
}